version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: car_shop_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: cardb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: